[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/burve-contracts"]
	path = lib/burve-contracts
	url = https://github.com/burveprotocol/burve-contracts
